<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <ul class="nav nav-pills">
      <li class="nav-item"><a routerLink="/number-marathon" routerLinkActive="active"  class="nav-link" aria-current="page">Number Marathon</a></li>
      <li class="nav-item"><a routerLink="/image-practice" routerLinkActive="active"  class="nav-link">Practice image 0-99</a></li>
      <li class="nav-item"><a routerLink="/about" routerLinkActive="active"  class="nav-link">About</a></li>
    </ul>
</header>